
# Visual C++ intermediate and output files
*.obj
*.res
*.sbr
*.log
*.tlog
*.pdb
*.idb
*.lib
*.vcxproj.filters
*.vcxproj.user
*.dll
*.suo
*.exe
*.ilk
*.sdf
*.opensdf
*.exp
*.bsc
/VC2015/sqscripter-test/doc/_build/
/VC2015/sqscripter-test/doc/_latex/
